<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-bck"><br>
      </div>
      <ion-card-header>
        <ion-card-title>
          <h3>Appointment Details</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin appointment-dtls">
    <ion-card-header>Request: {{ data.service }}</ion-card-header>
    <ion-card-content>
      <!-- patients request details -->
      <div>
        <ion-row>
          <ion-col size="5.0" class="patient-details">
            <h3><u>Patient Details</u></h3>
            <hr>
            <h3><strong>{{ data.patient }}</strong></h3>
            <h3>Contact: {{ data.contact }}</h3>
            <h3>Chronic Disease: {{ data.hasChronic }}</h3>
            <br>
            <hr>
            <ion-button (click)="showMap()" color="dark">Show Map
              <ion-icon name="locate-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="0.5"></ion-col>
          <ion-col size="6" class="patient-details">
            <h2><u>Patient Description</u></h2>
            <ion-textarea rows="4" readonly>{{ data.description }}</ion-textarea>
          </ion-col>
        </ion-row>
        <!-- if the appointment not closed -->
        <div *ngIf="data.appointment_status !== 'Completed'"> <ion-button expand="block" color="secondary"
            (click)="startPrescribe()">Attend to Patient</ion-button></div>
        <div *ngIf="data.appointment_status === 'Completed'">
          <ion-chip>This Appointment Was attended To. Wait for the Patient to Confirm it.</ion-chip>
        </div>
      </div>
      <br>
      <!-- Star the prescription -->
      <div *ngIf="prescribe">
        <!-- Medical specialist  -->
        <div class="patient-details details-textarea">
          <ion-textarea label-placement="floating" fill="outline" label="Prescription:" rows="6"
            [(ngModel)]="doctor_description" placeholder="Prescription ..."></ion-textarea>
        </div>

        <br>
        <!-- further action (lower section) -->
        <ion-row>
          <ion-col size="5" class="patient-details">
            <h2><u>Suggestion</u></h2>
            <ion-card class="details-textarea">
              <ion-checkbox labelPlacement="end" [(ngModel)]="selectAll" (ionChange)="selectAllChanged()">Select
                All</ion-checkbox>
              <ion-checkbox *ngFor="let option of options" labelPlacement="end" [(ngModel)]="option.selected">{{
                option.label }}</ion-checkbox>
            </ion-card>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="5">
                <ion-icon class="iocons" name="call-outline"></ion-icon>
                <h3>Call</h3>
              </ion-col>
              <ion-col size="2">
              </ion-col>
              <ion-col size="5">
                <ion-icon class="iocons" name="videocam-outline"></ion-icon>
                <h3>Video</h3>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>

    <div *ngIf="prescribe">
      <ion-button shape="round" fill="outline" expand="block" color="success" (click)="updatePatient()">Close this
        prescription
      </ion-button>
    </div>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="closeModal()" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>