<div *ngIf="dataAvailable">
  <br>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-row>
        <ion-col size="6">
          <div class="balance">MY BALANCE(Ksh)</div>
        </ion-col>
        <ion-col size="1">

        </ion-col>
        <ion-col size="5">
          <div class="amount">
            {{ balance }}
          </div>
          <ion-button color="primary" (click)="withdrawMode()" size="small" expand="block">Withdraw</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <br>

    <div *ngIf="myWithdrawMode" class="withdraw">
      <!-- Withdraw Input -->
      <ion-item>
        <ion-label position="floating">Enter Amount to Withdraw</ion-label>
        <ion-input [(ngModel)]="withdrawalAmount" type="number" (input)="enableDetailsButton()"></ion-input>
      </ion-item>

      <!-- Display an error message for invalid withdrawal amounts -->
      <ion-item *ngIf="withdrawalAmount > currentBalance && withdrawalAmount > 0" lines="none">
        <ion-text color="danger">Withdrawal amount exceeds the current balance!</ion-text>
      </ion-item>

      <!-- Grid for buttons -->
      <ion-row justify-content-between>
        <!-- "Details" button (visible when withdrawalAmount is greater than 0) -->
        <ion-col size="5">
          <ion-button color="secondary" *ngIf="withdrawalAmount > 0 && withdrawalAmount <= currentBalance"
            [disabled]="withdrawalAmount > currentBalance" (click)="showDetails()" size="small" expand="block">
            <ion-icon name="eye-outline"></ion-icon>
            View Details</ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
        <!-- "Withdraw Now" button (visible when withdrawalAmount is greater than 0 and does not exceed the balance) -->
        <ion-col size="5">
          <ion-button color="success" *ngIf="withdrawalAmount > 0 && withdrawalAmount <= currentBalance"
            (click)="toggleWithdrawSection()" size="small" expand="block">
            <ion-icon name="cash-outline"></ion-icon>
            Withdraw Now</ion-button>
        </ion-col>
      </ion-row>
      <!-- Details section -->
      <ion-card *ngIf="showDetailsSection" class="details-card">
        <ion-card-header class="details-header">
          Details
        </ion-card-header>
        <ion-card-content class="details-content">
          <ion-label>Withdrawal Amount: <ion-chip>{{ withdrawalAmount | currency }}</ion-chip></ion-label><br>
          <ion-label>Transaction Fee: <ion-chip>${{ calculateTransactionFee() }}</ion-chip></ion-label><br>
          <ion-label>Amount to Receive: <ion-chip>{{ calculateAmountToReceive() | currency }}</ion-chip></ion-label><br>
          <ion-label>Estimated Arrival Date: <ion-chip>{{ calculateArrivalDate() }}</ion-chip></ion-label>

          <!-- ion-fab-button to close the details section -->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="danger" (click)="closeDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-content>
      </ion-card>

      <!-- Withdrawal Section (visible when showWithdrawSection is true) -->
      <ion-card *ngIf="showWithdrawSection && withdrawalAmount <= currentBalance" class="details-card">
        <ion-card-header class="details-header">
          Mpesa Details
        </ion-card-header>
        <!-- Phone Number Input Field -->
        <ion-card-content class="details-content">
          <ion-input label="Enter Phone Number:" label-placement="floating" fill="outline" [(ngModel)]="phoneNumber"
            type="tel"></ion-input>
          <ion-button color="success" (click)="withdrawNow()" size="small" expand="block"> Withdraw</ion-button>

          <!-- Add other fields and buttons related to withdrawal here -->

          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="danger" (click)="closeWithdrawal()">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-content>
      </ion-card>
      <ion-item>
        <ion-label>Current Balance:</ion-label>
        <ion-label>{{ currentBalance | currency }}</ion-label>
      </ion-item>

      <!-- New Balance (calculated in the template) -->
      <ion-item *ngIf="withdrawalAmount <= currentBalance">
        <ion-label>New Balance:</ion-label>
        <ion-label>{{ (currentBalance - withdrawalAmount ) | currency }}</ion-label>
      </ion-item>

      <div *ngIf="!showWithdrawSection && !showDetailsSection">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="danger" (click)="closeWithdrawMode()">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>



    <ion-card-content *ngIf="!hideTherest && !myWithdrawMode">
      <ion-list>
        <div class="recent-header"><ion-label style="text-align: center;">Recent Withdrawals</ion-label></div>
        <ion-item *ngFor="let payment of myPastWithdrawals; let i = index">
          <ion-row>
            <ion-col size="1">
              {{ i + 1}}.
            </ion-col>
            <ion-col size="4">
              {{ payment.created_at | date: 'MMM d, y'}}
            </ion-col>
            <ion-col size="4">
              {{payment.w_status}}
            </ion-col>
            <ion-col size="3">
              ksh.{{ payment.amt_to_recieve }}/=
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <!-- Recent payment -->
      <ion-list>
        <div class="past-header">
          <ion-label style="text-align: center;">Past Payment</ion-label>
        </div>
        <ion-item *ngFor="let cappointment of filteredPastPayment; let i = index">
          <ion-row>
            <ion-col size="1">
              {{ i + 1}}.
            </ion-col>
            <ion-col size="4">
              {{ cappointment.createdDate | date: 'MMM d, y'}}
            </ion-col>
            <ion-col size="4">
              {{cappointment.patient}}
            </ion-col>
            <ion-col size="3">
              ksh.{{ cappointment.amount }}/=
            </ion-col>
          </ion-row>
        </ion-item>
        <div *ngIf="!filteredPastPayment">
          <h1>No past payment</h1>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="!dataAvailable">
  <div class="error-content">
    <div class="error-container">

      <ion-img src="../../../../../assets/images/network.PNG" alt="Network Error" class="error-image"></ion-img>
      <p class="error-message">Oops! Something went wrong.</p>
      <p class="error-description">Please check your network connection and try again.</p>
    </div>
    <ion-button color="success" (click)="getNurseBalance()">
      <ion-icon name="reload-outline"></ion-icon>
      Reload
    </ion-button>
  </div>
</div>