<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-bck">
      <br>
    </div>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Introduction</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Your terms and conditions content goes here -->
      <p>Welcome to Mclinic.</p>
      <!-- Add your terms and conditions text here -->
      <p>By using this app, you agree to the following terms and conditions:</p>
      <!-- Continue adding your terms and conditions content -->
      <ion-list>
        <ion-label>Documents:</ion-label>
        <ion-item>
          I. Varied Nursing Council of Kenya Practicing License
        </ion-item>
        <ion-item>II. National Identification or Passport
        </ion-item>
        <ion-item>III. National Nurses Association of Kenya Varied membership
        </ion-item>
        <ion-item>2. Accessibility to the portal will only be accessible to the fully registered and vetted applicants.
        </ion-item>

        <ion-label>Earnings:</ion-label>
        <ion-item>
          Nurses will be paid via Mpesa to the registered line 65% of all earnings from the Mclinic platform.
        </ion-item>
        <ion-item>All earnings will be remitted every Friday of the week
        </ion-item>
        <ion-item>Any medical negligence and malpractice will remain a nurse's liability and due disciplinary and legal
          process will be to the responsible health worker.
        </ion-item>
        <ion-item>Nurses are required to log in and Fill in their Full Profile on the M-Clinic Portal
        </ion-item>
        <ion-item>
          M-Clinic holds the right to terminate portal accessibility to Nurses who go against the terms and conditions.
          Termination either party may terminate this Agreement upon giving at least ninety (90) days’ advance written
          notice to the other party.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Repeat the above structure for different sections of your terms and conditions -->

  <!-- Example: Privacy Policy -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy Policy</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Your privacy policy content goes here -->
      <p>We respect your privacy and are committed to protecting your personal information.</p>
      <!-- Add your privacy policy text here -->
      <p>For more details, please refer to our <a (click)="openPrivacyPolicy()">Privacy Policy</a>.</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="closeModal()" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>