<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-bck"><br>
      </div>
      <ion-card-header>
        <ion-card-title>
          <h3 class="welcome-heading">Account Set up</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin hm-01">
    <div class="card-container">
      <ion-card style="width: 100%;">
        <div class="heading-div">
          <h2>Bio Data</h2>
        </div>
        <form [formGroup]="basicFormGroup" (ngSubmit)="onBoardNurse()">
          <!-- NAme -->
          <ion-input label-placement="floating" fill="outline" label="Enter Name:" type="text"
            formControlName="name"></ion-input>
          <!-- Contact -->
          <ion-input label="Contact Number:" label-placement="floating" fill="outline" type="text"
            formControlName="mobile"></ion-input>
          <!-- National Id -->
          <ion-input label="N ID/Passport No:" label-placement="floating" fill="outline" formControlName="nid"
            type="text"></ion-input>
          <!-- DOB -->
          <ion-input label="Date of Birth:" placeholder="01/12/1972" label-placement="floating" fill="outline"
            formControlName="dob" type="text"></ion-input>
          <!-- Gender -->
          <ion-select label-placement="floating" fill="outline" formControlName="gender" label="Gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>

          <!-- doctor type (Nurse/Clinician) -->
          <ion-select label-placement="floating" fill="outline" formControlName="dr_type" label="Profession"
            [(ngModel)]="selectedProfession">
            <ion-select-option value="Nurse">Nurse</ion-select-option>
            <ion-select-option value="Clinical Officer">Clinical Officer</ion-select-option>
          </ion-select>

          <div *ngIf="selectedProfession === 'Nurse'">
            <!-- Speciality -->
            <ion-select label-placement="floating" fill="outline" formControlName="speciality_id"
              label="Select speciality">
              <ion-select-option *ngFor="let speciality of(specialityList | async); let i = index"
                [value]="speciality.name">
                {{speciality.name}}
              </ion-select-option>
            </ion-select>
          </div>

          <div *ngIf="selectedProfession === 'Clinical Officer'">
            <!-- Speciality -->
            <ion-label>Speciality Not Available</ion-label>
          </div>

          <!-- Address -->
          <ion-input label="Address" label-placement="floating" fill="outline" formControlName="address"></ion-input>

          <ion-select label-placement="floating" fill="outline" formControlName="location_id" label="Select Location">
            <ion-select-option *ngFor="let location of(locationsList | async); let i = index" [value]="location.id">
              {{location.name}}
            </ion-select-option>
          </ion-select>
          <!-- Pasword -->
          <ion-input label-placement="floating" fill="outline" formControlName="password" type="password"
            label="Password"></ion-input>
          <!-- Confirm Password -->
          <ion-input label-placement="floating" fill="outline" formControlName="confirmPassword" type="password"
            label="Confirm Password"></ion-input>
          <!-- ActionButton -->
          <ion-button shape="round" color="success" type="submit" [disabled]="basicFormGroup.invalid"
            class="login-button">NEXT</ion-button>
        </form>
      </ion-card>
    </div>
  </ion-card>

</ion-content>