<div>
  <div>
    <ion-card class="ion-no-margin hm-01">
      <div *ngFor="let oappointment of filteredOpenAppointment; let i = index">
        <div class="appointment-div">
          <h2>Upcoming Appointments</h2>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- Second Column with Chip -->
                <p>Service: {{ oappointment.service }}</p>
                <h5>Patient: {{ oappointment.patient }}</h5>
                <h5>Time: {{ oappointment.bookTime | date: 'medium' }}</h5>
                <!-- <ion-chip color="success">{{ nurse.address }}</ion-chip> -->
              </ion-col>
              <ion-col size="1">
              </ion-col>
              <ion-col size="3">
                <!-- Third Column with Button -->
                <!-- {{ oappointment.description }} -->
                <ion-chip color="success" (click)="viewMore()">View
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-chip>
              </ion-col>
            </ion-row>
            <div class="countdown">
              <ion-chip>{{ timeRemaining }}</ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <!-- no appointments -->
      <div *ngIf="filteredOpenAppointment.length ===0" class="no-appointments">
        <div class="appointment-div">
          <h2>Upcoming Appointments</h2>
        </div>
        <h2>No Upcoming appointment currently!</h2>
        <h4>Your Upcoming Appointments will appear in this section</h4>
      </div>
    </ion-card>
  </div>

  <hr>

  <hr>
  <div>
    <ion-card class="ion-no-margin hm-01">
      <!-- Closed Appointments -->
      <div class="past-appointment-div">
        <h2>Past Appointments</h2>
      </div>
      <div *ngFor="let cappointment of filteredClosedAppointment; let i = index">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- Second Column with Chip -->
                <p>Service: {{ cappointment.service }}</p>
                <h5>Specialist Name: {{ cappointment.patient }}</h5>
                <h5>Time: {{ cappointment.bookTime | date: 'medium' }}</h5>
              </ion-col>
              <ion-col size="1">
              </ion-col>
              <ion-col size="3">
                <!-- Third Column with Button -->
                <h3>Closed</h3>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
      <!-- No closed Appoint ment -->
      <div *ngIf="filteredClosedAppointment.length ===0" class="no-appointments">
        <div class="past-appointment-div">
          <h2>Past Appointments</h2>
        </div>
        <h2>No closed appointment currently!</h2>
        <h4>Your closed Appointments will appear in this section</h4>
      </div>
    </ion-card>
  </div>
</div>