<ion-card class="ion-no-margin">
  <ion-card-header>
    <div class="heading">Current schedule</div>
    <p><u><i>This is an online-offfline arrangement. Ensure you are onle for patients to locate you</i></u></p>
  </ion-card-header>
  <ion-card-content>

    <div *ngIf="!filteredOpenAppointment" class="no-schedules">
      Sorry Seems to a network error
    </div>
    <div *ngIf="filteredOpenAppointment.length <=0" class="no-schedules">
      Sorry You have no schedules for today. Please ensure you are online to allow booking of appointment
    </div>
    <div *ngIf="filteredOpenAppointment.length > 0">
      <div *ngFor="let oappointment of filteredOpenAppointment; let i = index">
        <div class="appointment-div">
          <h2>Schedule </h2>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="2">
                No. {{ i +1 }}.)
              </ion-col>
              <ion-col size="9">
                <!-- Second Column with Chip -->
                <p>Service: {{ oappointment.service }}</p>
                <h5>Booked Tome: {{ oappointment.bookTime | date: 'medium' }}</h5>
                <div class="countdown">
                  <ion-chip>{{ timeRemaining }}</ion-chip>
                </div>
              </ion-col>
              <ion-col size="1">
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-card-content>
</ion-card>