<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-bck">
      <ion-buttons slot="start">
        <!-- <ion-back-button defaultHref="/patient/service"></ion-back-button> -->
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="modal-card">
    <h2> Forgot Your Password?</h2>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <ion-input label="Enter your email" label-placement="floating" fill="outline" type="email" [(ngModel)]="email"
        [readonly]="showCodeInput"></ion-input>
      <ion-button expand="full" (click)="sendResetCode()" [disabled]="showCodeInput">Send Reset Code</ion-button>

      <!-- Display this section when the code entry is required -->
      <ion-card *ngIf="showCodeInput">
        <ion-label position="stacked">Enter the6 digit code sent to your email</ion-label>
        <hr>
        <ion-input label="Enter the code:" label-placement="floating" fill="outline" type="text"
          [(ngModel)]="resetCode"></ion-input> <br>
        <!-- New Password -->
        <ion-input label="New Password:" label-placement="floating" fill="outline" type="password"
          [(ngModel)]="password"></ion-input> <br>
        <!-- confirm -->
        <ion-input label="Confirm Password:" label-placement="floating" fill="outline" type="password"
          [(ngModel)]="confirmPassword"></ion-input>
        <ion-button expand="full" (click)="resetPassword()">Reset Password</ion-button>
      </ion-card>
    </ion-card-content>
    <ion-row>
      <ion-col size="2"> </ion-col>
      <ion-col size="8">
        <a (click)="goToLogin()">Back to Login?</a>
      </ion-col>
      <ion-col size="2"> </ion-col>
    </ion-row>
  </ion-card>
</ion-content>